---
import Icon from './Icon.astro';

interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<details class="faq-item">
  <summary class="faq-q">
    {question}
    <span class="faq-ico-wrap">
      <span class="faq-ico faq-ico-plus"><Icon name="plus" size={18} /></span>
      <span class="faq-ico faq-ico-minus"><Icon name="minus" size={18} /></span>
    </span>
  </summary>
  <div class="faq-a-inner">{answer}</div>
</details>
